.App {
  font-family: sans-serif;
  text-align: center;
}

.image {
  width: 300px;
  height: 300px;
  border-radius: 300px;
  object-fit: cover;

}

.btn-like,
.btn-dislike {
  font-size: 1.5rem;

}

.msg-container {
  padding: 0.5rem;
  border: 2px solid orange;
}